<IfModule mod_expires.c>
  ExpiresActive On
  # Images (Cache for 1 year)
  ExpiresByType image/webp "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/jpeg "access plus 1 year"
  # CSS and JS (Cache for 1 month)
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 month"
  # Fonts (Cache for 1 year)
  ExpiresByType font/woff2 "access plus 1 year"
</IfModule>